@charset "utf-8";
/* meigenkun css
======================= */

/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
	-webkit-text-size-adjust: 100%;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
}
nav ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}
input, select {
	vertical-align:middle;
}
button {
	letter-spacing: normal;
	font-family: sans-serif;
}
html {
	font-size: 62.5%;/* 62.5%を指定すると「1.0 rem = 10px」 */
}
body {
	width: 100%;
	padding: 0;
	margin: 0;
	color: #333333;
	background-color: #F2F2F2;
	font-family: sans-serif;
	font-size: 13px;
	font-size: 1.3rem;
}
a:link {
	color: #333;
	text-decoration:none;
}
a:visited {
	color: #333;
	text-decoration:none;
}
a:hover {
	color: #333;
	text-decoration: underline;
}
a:active {
	color: #333;
	text-decoration:none;
}
p {
	margin: 0 0 1em;
	color: #333;
	line-height: 1.3;
	text-align: left;
}
dl dt, dl dd {
	color: #333;
	line-height: 1.3;
	text-align: left;
}
ul {
	margin: 0 0 2em;
	padding: 0;
	list-style: none;
}
img {
	max-width : 100%;
}
small {
	font-size: 11px;
	font-size: 1.1rem;
}

/* --- clearfix --- */

.cf {
	zoom: 1;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}


/* =====================================
	 navigation
===================================== */

header {
	background-color: #2551a3;
	padding: 10px;
	color: #fff;
}
header .navbar-brand {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-size: 2.0rem;
}
header a:link { color: #fff; }
header a:visited { color: #fff; }
header a:hover { color: #fff; }
header a:active { color: #fff; }

header .navbar-entry {
	position: absolute;
	top: 10px; right: 20px;
}
header .navbar-entry img {
	height: 19px; 
}
nav {
	width: 100%;
	background-color: #fff;
	margin-bottom: 15px;
}
nav ul {
	width: 100%;
}
nav li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 0.5em 0;
}
nav a {
	color: #1ABC9C;
	font-weight: bold;
}
nav li a img {
	max-width: 100%;
	max-height: 25px;
}

/* =====================================
	 meigen
===================================== */

.meigen {
	width: 100%;
	margin-bottom:15px;
}
.meigen-area {
	background-color: #333;
	color:#fff;
	width: 300px;
	margin: 0 auto;
}
.meigen-area a:link { color: #fff;}
.meigen-area a:visited { color: #fff;}
.meigen-area a:hover { color: #fff;}
.meigen-area a:active { color: #fff;}

.meigen-area .meigen-photo {
	float: left;
	height: 200px;
	width: 50%;
}
.meigen-area .meigen-photo img {
	width: 150px;
}
.meigen-area .meigen-txt {
	float: left;
	width: 50%;
}
.meigen-area .meigen-txt h2 {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px;
}
.meigen-area .meigen-detail {
	padding: 0 10px;
}
.meigen-area .meigen-detail .date {
	color: #fff;
	margin-bottom: 0.2em;
	font-size: 12px;
	font-size: 1.2rem;
}
.meigen-area .meigen-detail .name {
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
}

/* tamashii-area */

.tamashii-area {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	width: 300px;
	padding: 0.2em 0;
	margin: 0 auto;
}
.tamashii-area .tamashii {
	width: 50%;
	float: left;
}
.tamashii-area .tamashii img {
	margin-left: 5px;
}
.tamashii-area .tamashii img:first-child {
	margin-left: 15px;
}
.tamashii-area .iine {
	width: 46%;
	float: right;
	padding: 0.2em 4% 0.2em 0;
	text-align: right;
}

/* ha-area */

.ha-area {
	font-size: 10px;
	background-color: #fff;
	width: 300px;
	margin: 0 auto;
	zoom: 100%;
}
.ha-area ul {
	margin:0;
	padding:0;
	width:300px;
	overflow:hidden;
}
.ha-area li {
	list-style:none;
	width:33.3%;
	float:left;
	border-right: 1px solid #eee;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.ha-area li:last-child {
	border-right: 0 none;
}
.ha-area li a {
	display:block;
	text-align:center;
}
/* loading */

#loading {
	text-align: center;
	display: none;
	height: 100px;
}
